<div class="login-wrapper">
  <form *ngIf="!showMfa" [formGroup]="loginForm" (submit)="postLogin()">
    <mat-form-field>
      <input matInput placeholder="User Id" formControlName="userId" autocomplete>
      <input matInput placeholder="Password" type="password" formControlName="password" autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password" autocomplete>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
  <form *ngIf="showMfa" [formGroup]="mfaForm" (submit)="postLogin()">
    <mat-form-field>
      <input matInput placeholder="Google Authenticator Code" formControlName="mfa">
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!mfaForm.valid">Submit</button>
  </form>
</div>
